<div class="container-fluid">

<alert type="success"> home works!</alert>

  <carousel>
    <slide>
      <img src="https://placeimg.com/640/480/tech" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://placeimg.com/640/480/nature" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://placeimg.com/640/480/people" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

</div>
