<div class="container" >
    <alert type="success"> {{ title }} works!</alert>
            
      <div class="container-fluid ">
          <div class="jumbotron">
              <h2 class="display-5">Grow Through, What You Go Through.</h2>
              <p class="lead">A system thinker with nine years experience in online advertising specialized in mobile and video distribution. Skilled in ad-server tags, marketing analytics, and data integrity. 
                </p>
              <hr class="my-4">
              <p>Currently, exploring opportunities implementing technologies & data mining for a growing teams. Developing Angular Websites on Firebase intergating third-parties.  Check out my <a class="badge badge-primary" [routerLink]="['../portfolio']" role="button">Portfolio</a></p> 

            </div>

            <div class=" jumbotron">
          
                <p class="lead mr-auto">Work History</p>
            <table class="table ">
                
                <thead>
                  <tr>
                    <th scope="col"></th>
                   
                    <th scope="col">Company</th>
                    <th scope="col">Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    
                    <td>Immersion Corp</td>
                    <td>San Jose, California</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                  
                    <td>PulsePoint</td>
                    <td>San Francisco, California</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                   
                    <td>LiquidM</td>
                    <td>Remote, Califronia</td>
                  </tr>
                  <tr>
                      <th scope="row"></th>
              
                      <td>Amobee</td>
                      <td>Redwood City, California</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Velti</td>
                        <td>Palo Alto, California</td>
                      </tr>
                      <tr>
                          <th scope="row"></th>
                          <td>Mocean Mobile</td>
                          <td>Soho, New York</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>IAC</td>
                            <td>Chelsea, New York</td>
                          </tr>
                </tbody>
              </table>
              
        <h1></h1>
        
      </div>
      <p class="lead">
          <a class="btn btn-secondary btn-lg mt-2" href="https://www.linkedin.com/in/jungno?trk=profile-badge" target="_blank" role="button">Linkedin Profile</a>

          <a class="btn btn-primary btn-lg ml-2 mt-2" [routerLink]="['../portfolio']" role="button">Portfolio</a>
        </p>
</div>